/*****barre d'aide en haut*********/
main{
    margin-left: 15%;
    margin-right: 15%;
} 
    

.barre{
    height: 40px;
    width: 100%;
    background-color: rgb(63, 36, 36);
    display: flex;
}

.barre, .texteBarre{
    justify-content: space-around;
    flex-direction: row ;
    color: white;
}
/**************header*************/
header{
    background-color: whitesmoke;
}
.logo3{
    margin-top:25px;
    float: left;
}
h1{
    font-size:15px;
}

.iconeHeader1,
.iconeHeader2,
.iconeHeader3,
.iconeHeader4{
    float: right;
    margin-top: 15px;
}
.iconeHeader1,
.iconeHeader2,
.iconeHeader3,
.iconeHeader4 p{
    width:190px;
}

.clear{
    clear:both;
}
/*************nav***************/
nav a{
    border: 1px solid black;
    background-color: whitesmoke;
    margin-bottom: 15px;
}

/************** div voir carrlage/ parquet*************/
.voirCarrlage{
    display:block;
    position: relative;
    top: -630px;
    right: -1150px
}

.voirparquet{
    display:block;
    position: relative;
    top: -600px;
    right: -1150px
}

.voirparquet, .voirCarrlage h2{
color: rgb(230, 34, 99);
font-size: 18px;
}

.iconPayment{
    display:block;
    position: relative;
    right: -1150px;
    top:-450px;
}
/*centre de la page*/
/*#iconCentre{
    display: flex;
}

-------------------j'ai pas reussi a le mettre sous le carousel----------------

#iconCentre, .haut{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 auto;
}*/

.Haut1{
    display: block;
    position: relative;
    top: -600px;
    left: 50px;
}


.Haut2{
    display: block;
    position: relative;
    top: -650px;
    left: 400px;
}


.Haut3{
    display: block;
    position: relative;
    top: -700px;
    left: 750px;
}

.bas1{
    display: block;
    position:relative;
    top: -600px;
    left: 50px;
}

.bas2{
    display: block;
    position:relative;
    top: -650px;
    left: 400px;
}

.bas3{
    display: block;
    position:relative;
    top: -700px;
    left: 700px;
}/*===============liste des produits==============*/

#produit{
    display: flex;
}
/*pour la forme j'ai quand meme fait un peut de flex mais sa rend degeulase >< */
#produit, .produitHaut{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 auto;
    justify-content: space-around;
}
.promo{
    display: block;
    position:relative;
    top: -400px;
    left: 466px;
} 

.livraison{
    display: block;
    position:relative;
    top: -610px;
    left: 908px;
}

.nouveau{
    display: block;
    position: relative;
    top: -400px;
    right:-908px;
}

#iconBas{
    display:flex;
    justify-content:space-around;
    background-color: gray;
}

#finPage{
    display: flex;
    justify-content: space-around;
}

#textFinal{
    display: block;
    position:relative;
    top: -350px;
    left: 0;
    font-size: 15px;
}

.ancre{
    display: block;
    position: relative;
    top: -28px;
    left: 50%;
}

footer{
    margin-top: -18%;
}